<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class ="form-control-group">
    <%= form.file_field :image %>
    <% if @menu.image? %>
      <%= image_tag @menu.image.url, class: "menu-show" %>
      <%= form.check_box :remove_image %>
        Remove Image
      <% end %>
  </div>

  <div class="form-control-group">
    <%= form.label :item_name %>
    <%= form.text_field :item_name, class: "form-control" %>
  </div>

  <div class="form-control-group">
    <%= form.label :item_description %>
    <%= form.text_area :item_description, class: "form-control" %>
  </div>

  <div class="form-control-group">
    <%= form.label :item_price %>
    <%= form.text_field :item_price, class: "form-control" %>
  </div>

  <!--<div class="form-control-group">
    <%= form.label :item_picture %>
    <%= form.text_field :item_picture %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
