<html>
<head>

<style>

.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
}

input[type=submit] {
    width: 15em;  height: 2em;
}

.menu-section-title {
  font-family: georgia;
  font-size: 50px;
  display: block;
  font-weight:normal;
  margin: 20px 0;
  text-align: Center;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
}
</style>

<div class="menu-body">
  <!-- Section starts: Appetizers -->
  <div class="menu-section">
    <h2 class="menu-section-title">APPETIZERS</h2>
    <!-- Item starts -->
    <% @menus.each do |menu| %>
      <div class="menu-item">
        <div class="menu-item-name">
          <%= image_tag menu.item_picture %>
          <input type="submit" name="Vegetable-Spring-Rolls"value="Vegetable-Spring-Rolls"></input>
        </div>
        <div class="menu-item-name">
            <%= menu.item_name %>
         </div>
         <div class="menu-item-description">
           <%= menu.item_description %>
         </div>
         <div class="menu-item-price">
            <%= menu.item_price %>
         </div>
      </div>
      <% end %>
  </div>
</div>


<%= link_to 'New Menu', new_menu_path %>
