<div class="container">
<p id="notice"><%= notice %></p>

<div class="inline_block">
<div class="row">
    <div class= "menu-box">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="Vegetable-Spring-Rolls.jpg">
      <div class="card-body">
        <h5 class="card-title">Veggie Spring rolls</h5>
        <p class="card-text">Fried rice paper rolls | glass noodles | mixed vegetable | sweet & sour sauce. (4 pieces)</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: $14.99</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    </div>
</div>
</div>

<!--<h1>Menu</h1>
  <div class="row">
  <% @menus.each do |menu| %>
  <div class="col-md-4">
     <div class="menu-box">
      <% if menu.image? %>
        <img src="Vegetable-Spring-Rolls .jpg" > 
      <% end %>

      <ul>
        <h5><li><%= menu.item_name %></li></h5>
        <li><%= menu.item_description %></li>
        <li><%="$" %><%= menu.item_price %></li>
        <% if admin_signed_in? %>
          <%= link_to 'Show', menu %>
          <%= link_to 'Edit', edit_menu_path(menu) %>
          <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </ul>
  </div>  
    <br>
   </div>
  <% end %>
</div> 
<br>
</div><!--/row-->

<%= link_to 'New Menu', new_menu_path %>
