<p id="notice"><%= notice %></p>
<h1>
  <!--<strong>Item name:</strong>-->
  <%= @menu.item_name %>
</h1>
</h2>
	<% if @menu.image? %> 
	<%= image_tag @menu.image.url, class: "menu-show" %>
	<% end %>
</h2>

<h5>
  <!--<strong>Item description:</strong>-->
  <%= @menu.item_description %>
  <%= "$" %> <%= @menu.item_price %>
</h5>



<!--<p>
  <strong>Item price:</strong>
  <%= @menu.item_price %>
</p>-->

<!--<p>
  <strong>Item picture:</strong>
  <%= @menu.item_picture %>
</p> -->
<%= link_to 'Add to Order', new_order_path %> |
<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %> |
<%= link_to 'Nutritional Info', pages_NutritionalInfo_path %>
