<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @menu.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @menu.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @menu.item_price %>
</p>

<p>
 <!-- <strong>Item picture:</strong>
  <%= @menu.item_picture %>
</p> -->

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
