<p id="notice"><%= notice %></p>

<h1>Managers</h1>
<button type="button" class="btn btn-secondary btn-lg btn-block">

<% if !admin_signed_in? %>
  <%= link_to 'log in',  new_admin_session_path%>
  <% end %>
  <% if admin_signed_in? %>
  <%= link_to 'log out',  destroy_admin_session_path, :method => :delete  %>

 <% if !admin_signed_in? %>
    <%= link_to 'log in',  new_admin_session_path%>
  <% end %>
  <% if admin_signed_in? %>
    <%= link_to 'log out',  destroy_admin_session_path, :method => :delete  %>
  <% end %>
</button>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Customer', customers_path  %></button>
<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Waitstaff', waitstaffs_path %></button>
<button type="button" class="btn btn-secondary btn-lg btn-block">
  <%= link_to 'Kitchen', kitchen_staffs_path  %></button>
<button type="button" class="btn btn-secondary btn-lg btn-block">
  <%= link_to 'Manager', pages_ManagerOptions_path%></button>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.manager_name %></td>
        <td><%= manager.manager_pin %></td>
        <td><%= link_to 'Show', manager %></td>
        <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
        <td><%= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Manager', new_manager_path %> -->
