<p id="notice"><%= notice %></p>

<p>
  <strong>Manager name:</strong>
  <%= @manager.manager_name %>
</p>

<p>
  <strong>Manager pin:</strong>
  <%= @manager.manager_pin %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
