<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer names</th>
      <th>Customizations and Allergies</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.each do |order| %>
      <tr>
        <td><%= order.customer_names %></td>
        <td><%= order.notes %></td>

        <% if admin_signed_in? %>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
