<html>
  <head>
    <meta charset="UTF-8">
    <title>Customer Homepage</title>
  </head>
  <body>

<!-- Nav bar for customer's tablet (Unfinished)
	<p id="notice"><%= notice %></p>
	<nav class="navbar navbar-light bg-light">
	  <form class="form-inline">
	    <button class="btn btn-sm btn-outline-secondary" type="button">
	      <%= link_to 'Drink Refill', waitstaffs_path %>
	    </button>

	    <button class="btn btn-sm btn-outline-secondary" type="button">
	      <%= link_to 'Request Waiter', waitstaffs_path %>
	    </button>
	      <button class="btn btn-sm btn-outline-secondary float-left" type="button">
	        <%= link_to 'Pay Now/ View Order', waitstaffs_path %>
	      </button>
	    </form>

	  </form>
	</nav>
-->

	<!-- Menu -->
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src=".../100px180/" alt="Menu image">
	  <div class="card-body">
	    <h5 class="card-title">Menu</h5>
	    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
	    <a class="btn btn-primary"
	    <%= link_to 'View Menu', menus_path %>
		</a>
	  </div>
	</div>

	<!-- Game 1 -->
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src=".../100px180/" alt="Game 1 image">
	  <div class="card-body">
	    <h5 class="card-title">Game 1</h5>
	    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
	    <a href="Game1" class="btn btn-primary">Play Game</a>
	  </div>
	</div>	

	<!-- Game 2 -->
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src=".../100px180/" alt="Game 2 image">
	  <div class="card-body">
	    <h5 class="card-title">Game 2</h5>
	    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
	    <a href="Game2" class="btn btn-primary">Play Game</a>
	  </div>
	</div>	

	<!-- Game 3 -->
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src=".../100px180/" alt="Game 3 image">
	  <div class="card-body">
	    <h5 class="card-title">Game 3</h5>
	    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
	    <a href="Game3" class="btn btn-primary">Play Game</a>
	  </div>
	</div>	

  </body>
</html>