<h1> Manager Options </h1>

<% if admin_signed_in? %>
<button type="button" class="btn btn-secondary btn-lg btn-block">
<%= link_to "Sign Out", destroy_admin_session_path %>
</button>
<% end %>

<% if !admin_signed_in? %>
<button type="button" class="btn btn-secondary btn-lg btn-block">
<%= link_to "Sign In", new_admin_session_path %>
</button>
<% end %>


<button type="button" class="btn btn-secondary btn-lg btn-block">
<%= link_to "Comp an Item", orders_path %>
</button>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Update Menu", menus_path %>
</button>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Weekly Revenu & Sales", pages_ManagerOptions_path %>

</button>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Set Happy Hours", pages_ManagerOptions_path %>
</button>