<!DOCTYPE html>
<html>
  <head>
    <nav class="navbar navbar-dark bg-dark">
      <%if admin_signed_in? %>
      <a class="navbar-brand"
      <%= link_to 'Suit & Thai', managers_path%>
      </a>
      <% end %>
    </nav>
    
    <title>SuitAndThai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
